<RollingFile
    name="rollingFile"
    fileName="logs/application.log"
    filePattern="logs/application.%i.log.gz"
    ignoreExceptions="false">
    <PatternLayout>
        <Pattern>%d{yyyy-MM-dd-HH-mm HH:mm:ss} %-5p %m%n</Pattern>
    </PatternLayout>
    <Policies>
        <SizeBasedTriggeringPolicy size="10MB" />
    </Policies>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console" level="trace" />
            <AppenderRef ref="File" level="error" />
         </Root>
     </Loggers>
    <DefaultRolloverStrategy max="5" />
    <ThresholdFilter/>
</RollingFile>
